/* Estilos globais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color, #ffefd6);
  color: var(--text-color, #000000);
  transition: background-color 0.3s, color 0.3s;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: var(--header-bg-color, #141414);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #f29334;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav a {
  margin: 0 10px;
  color: var(--text-color, #ffffff);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px; /* Tamanho da fonte reduzido */
  white-space: nowrap;

  transition: color 0.3s;
  padding: 5px 10px; /* Espaçamento */
  border-radius: 5px; /* Bordas arredondadas */
}

.nav a:hover {
  text-decoration: underline;
  color: #f29334;
  background-color: rgba(255, 163, 14, 0.1); /* Fundo leve ao passar o mouse */
}

.user-email {
  margin-right: 20px;
  font-size: 14px; /* Tamanho da fonte reduzido */
  color: #f29334; /* Cor do texto do email */
}

.toggle-theme-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px; 
}

/* Estilos do tema claro */
.light-theme {
  --bg-color: #f0f0f0;
  --text-color: #000;
  --header-bg-color: #ffffff;
  --link-hover-color: #7728ff;
  --service-box-bg-color: #ffffff;
}

/* Estilos do tema escuro */
.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --header-bg-color: #333;
  --link-hover-color: #ffcc00;

  --footer-bg-color: #222;
    --button-bg-color: #555;
  
  --login-button-bg-color: #7748ff;

  --service-box-bg-color: #444;
}

/* Adicionando detalhes visuais */
.main {
  flex: 1;
  background-color: var(--bg-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.3s;
  /* Para posicionar linhas e detalhes */
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f29334; /* Linha roxa no topo */
}

.main::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f29334; /* Linha roxa na parte inferior */
}


/* Rodapé */
.footer {
  background-color: var(--footer-bg-color, #333);
  color: var(--text-color, #ffffff);
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #f29334; /* Cor do link ao passar o mouse */
}

.toggle-theme-btn{
  color: #f29334;
  font-size: small;
}
.toggle-theme-btn:hover{
  color: #fd840a;
  font-size: 14px;
  text-decoration: underline;
}
/* Outros estilos como antes, mas com fontes reduzidas e cores ajustadas */







