/* Estilos da Home */
.home {
  text-align: center;
  padding: 20px;
  background-color: var(--bg-color); /* Usar cor de fundo do tema */
  border-radius: 10px; /* Bordas arredondadas */
}

/* Estilos do Carregamento */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #7728ff; /* Cor do topo do spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Banner Carousel */
.banner-carousel {
  width: 100%;
  max-width: 1600px;
  margin: 20px auto; /* Margem para o carrossel */
  position: relative;
  border-radius: 10px; /* Bordas arredondadas */
  overflow: hidden; /* Para garantir que as bordas arredondadas sejam respeitadas */
}

.banner-slide {
  position: relative;
  color: white;
}

.banner-slide img {
  width: 100%; /* Ajuste para 100% */
  height: 400px;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6); /* Fundo mais escuro */
  padding: 20px;
  border-radius: 10px;
  color: white; /* Texto em branco */
}

.banner-text h1 {
  font-size: 28px; /* Tamanho da fonte ajustado */
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 16px; /* Tamanho da fonte ajustado */
  margin-bottom: 20px;
}

.btn {
  background-color: #e9d7d7;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px; /* Bordas mais arredondadas */
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s, border-radius 0.3s;
}

.btn:hover {
  background-color: #ffffff;
  border-radius: 8px; /* Bordas arredondadas ao passar o mouse */
  border: 2px solid #7728ff; /* Cor do borda ao passar o mouse */
}

/* Estilos da lista de serviços */
.services-container {
  display: grid;
  gap: 40px; /* Ajuste para um espaço mais harmônico */
  margin-top: 30px;
  padding: 20px;
  justify-content: center; 
}

.services-list {
  list-style: none;
  padding: 0;
}

.service-box {
  background-color: var(--service-box-bg-color, #ffffff);
  width: 100%; /* Largura total */
  max-width: 300px; /* Limitar a largura */
  height: 200px; /* Ajuste de altura */
  padding: 10px; /* Padding ajustado */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mais profunda */
  transition: transform 0.3s, border-top 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service-box:hover {
  transform: scale(1.05); /* Escala um pouco menos */
  border-top: 3px solid #7728ff;
  color: #7728ff;
}

.service-box h2 {
  font-size: 22px; /* Tamanho da fonte ajustado */
  margin-bottom: 10px;
}

.service-box p {
  font-size: 14px; /* Tamanho da fonte ajustado */
}

/* Container de boas-vindas */
.welcome-container {
  margin-top: 20px;
}

/* Estilos da imagem de serviço */
.service-photo {
  width: 80px; /* Largura reduzida */
  height: 80px; /* Altura reduzida */
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorcer */
  border-radius: 8px; /* Adiciona bordas arredondadas */
}

/* Scrollbar customizada */
.services-list {
  max-height: 500px; /* Ajuste a altura conforme necessário */
  overflow-y: scroll;
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer e Edge */
}

.services-list::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari e Opera */
}
